.App {
}

.App-header {
  text-align: center;
}

.user-card {
  margin: auto;
  width: 100px;
  text-align: center;
}

.user-card img {
  border: 1px solid black;
  border-radius: 50%;
  width: 100%;
}

.topic-nav {
  /* border: 1px solid black; */
}

.topic-nav ul {
  display:inline-flex;
  margin: auto;
}

.topic-nav li {
  list-style-type: none;
  padding-right: .5em;
}

.topic-descriptor {
  text-align: center;
}

.paginator {
  margin: auto;
}

.articles {
  display: flex;
  flex-direction: column;
}

.article-list li {
  list-style-type: none;
}

.article-list h2, h3, h4 {
  margin: .5em;
}

.article-list span {
  padding: .5em;
}

.article {
}

.article img {
  width: 50%;
  margin: auto;
}