.App {
}

.App-header {
  text-align: center;
}

.user-card {
  margin: auto;
  width: 100px;
  text-align: center;
}

.user-card img {
  border: 1px solid black;
  border-radius: 50%;
  width: 100%;
}

.topic-nav {
  /* border: 1px solid black; */
}

.topic-nav ul {
  display:inline-flex;
  margin: auto;
}

.topic-nav li {
  list-style-type: none;
  padding-right: .5em;
}

.topic-descriptor {
  text-align: center;
}

.paginator {
  margin: auto;
}

.paginator button {
  width: 1.5em;
  height: 1.5em;
  padding-left: 5px;
  margin: 2px;
}

.paginator button.current {
  background-color: lightblue;
  color: white;
}

.articles {
  display: flex;
  flex-direction: column;
}

.article-list li {
  border-top: 1px solid black;
  list-style-type: none;
}

.article-list h2, h3, h4 {
  margin: .5em;
}

.article-list span {
  padding: .5em;
}

.article {
}

.article img {
  width: 50%;
  margin: auto;
}

.comment-card {
  list-style-type: none;
  border-top: 1px solid black;
}

.comment-card h4 {
  display: inline;
}

.comment-card span {
  padding-right: .5em;
}

.hide {
  opacity: 1;
}

.show {
  opacity: .3;
}

.overlay-text {
  position: relative;
  left: 40%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}

.comment-form label {
  padding-top: .5em;
}

.comment-form input {
  width: 80%;
}


.article-sort-form {
  display: flex;
  padding-bottom: .5em;
  margin: auto;
}

.select-container {
  display: flex;
  flex-direction: column;
  padding-right: .5em;
}

.vote-button {
  font-size: medium;
  width: 3.5em;
  height: 2em;
  display: flex;
  border: 1px solid black;
  border-radius: 40%;
  margin: .5em;
  background-color: white;
}

.vote-button:hover {
}

.sym {
  margin: auto;
}

.num {
  margin: auto;
}

.comment-count {
  font-size: medium;
  width: 3.5em;
  height: 2em;
  display: flex;
  border: 1px solid black;
  border-radius: 40%;
  margin: .5em;
}

.icon-container {
  display: inline-flex;
}

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid lightskyblue;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}