.App {
}

.App-header {
  text-align: center;
}

.user-card {
  margin: auto;
  width: 100px;
  text-align: center;
}

.user-card img {
  border: 1px solid black;
  border-radius: 50%;
  width: 100%;
}

.topic-nav {
  /* border: 1px solid black; */
}

.topic-nav ul {
  display:inline-flex;
  margin: auto;
}

.topic-nav li {
  list-style-type: none;
  padding-right: .5em;
}

.topic-descriptor {
  text-align: center;
}

.paginator {
  margin: auto;
}

.articles {
  display: flex;
  flex-direction: column;
}

.article-list li {
  list-style-type: none;
}

.article-list h2, h3, h4 {
  margin: .5em;
}

.article-list span {
  padding: .5em;
}

.article {
}

.article img {
  width: 50%;
  margin: auto;
}

.comment-card {
  list-style-type: none;
  border-top: 1px solid black;
}

.comment-card h4 {
  display: inline;
}

.comment-card span {
  padding-right: .5em;
}

.hide {
  opacity: 1;
}

.show {
  opacity: .3;
}

.overlay-text {
  position: relative;
  left: 40%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}

.comment-form label {
  padding-top: .5em;
}

.comment-form input {
  width: 80%;
}


.article-sort-form {
  display: flex;
  padding-bottom: .5em;
  margin: auto;
}

.select-container {
  display: flex;
  flex-direction: column;
  padding-right: .5em;
}